In [12]:
pip install geocoder

Requirement already satisfied: geocoder in c:\users\user\anaconda3\lib\site-packages (1.38.1)
Requirement already satisfied: requests in c:\users\user\anaconda3\lib\site-packages (from geocoder) (2.22.0)
Requirement already satisfied: click in c:\users\user\anaconda3\lib\site-packages (from geocoder) (7.0)
Requirement already satisfied: ratelim in c:\users\user\anaconda3\lib\site-packages (from geocoder) (0.1.6)
Requirement already satisfied: future in c:\users\user\anaconda3\lib\site-packages (from geocoder) (0.18.2)
Requirement already satisfied: six in c:\users\user\anaconda3\lib\site-packages (from geocoder) (1.14.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests->geocoder) (2019.11.28)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\user\anaconda3\lib\site-packages (from requests->geocoder) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests->geocoder) (1.25.8)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests->geocoder) (2.8)
Requirement already satisfied: decorator in c:\users\user\anaconda3\lib\site-packages (from ratelim->geocoder) (4.4.1)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from bs4 import BeautifulSoup 
import requests
import numpy as np 
import pandas as pd 
import random

In [21]:
!pip install geopy
import geopy

Requirement already satisfied: geopy in c:\users\user\anaconda3\lib\site-packages (1.22.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\user\anaconda3\lib\site-packages (from geopy) (1.50)

In [23]:
!conda install -c conda-forge geopy --yes 

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

In [2]:
source = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text
soup = BeautifulSoup(source, 'lxml')

table = soup.find("table")
table_rows = table.tbody.find_all("tr")

res = []
for tr in table_rows:
    td = tr.find_all("td")
    row = [tr.text for tr in td]
    
    # Only process the cells that have an assigned borough. 
    if row != [] and row[1] != "Not assigned\n":
        if "Not assigned\n" in row[2]: 
            row[2] = row[1]
        res.append(row)

In [3]:
wiki_df = pd.DataFrame(res, columns = ["PostalCode", "Borough", "Neighborhood"])
wiki_df.head()

,PostalCode,Borough,Neighborhood
0,M3A\n,North York\n,Parkwoods\n
1,M4A\n,North York\n,Victoria Village\n
2,M5A\n,Downtown Toronto\n,"Regent Park, Harbourfront\n"
3,M6A\n,North York\n,"Lawrence Manor, Lawrence Heights\n"
4,M7A\n,Downtown Toronto\n,"Queen's Park, Ontario Provincial Government\n"

In [4]:
wiki_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PostalCode    103 non-null    object
 1   Borough       103 non-null    object
 2   Neighborhood  103 non-null    object
dtypes: object(3)
memory usage: 2.5+ KB

In [5]:
#Remove "\n"
wiki_df["Neighborhood"] = wiki_df["Neighborhood"].str.replace("\n","")
wiki_df["PostalCode"] = wiki_df["PostalCode"].str.replace("\n","")
wiki_df["Borough"] = wiki_df["Borough"].str.replace("\n","")

wiki_df.head(5)

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [6]:
wiki_df["PostalCode"].nunique()

103

In [7]:
#Group all neighborhoods with the same postal code
wiki_df = wiki_df.groupby(["PostalCode", "Borough"])["Neighborhood"].apply(", ".join).reset_index()
wiki_df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [8]:
c = (wiki_df['Neighborhood'] == '').sum()
print('empty string in wiki_data Neighborhood column :', c)

empty string in wiki_data Neighborhood column : 0

In [9]:
wiki_df.shape

(103, 3)

In [10]:
wiki_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103 entries, 0 to 102
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PostalCode    103 non-null    object
 1   Borough       103 non-null    object
 2   Neighborhood  103 non-null    object
dtypes: object(3)
memory usage: 2.5+ KB

In [11]:
geocode_df = pd.read_csv('d:\\ibmcapstone\Geospatial_Coordinates.csv')
geocode_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [12]:
geocode_df.rename(columns={'Postal Code':'PostalCode'}, inplace=True)
geocode_df.head(2)

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497

In [13]:
wiki_geocode_df = wiki_df.merge(geocode_df, on='PostalCode')
wiki_geocode_df.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [14]:
wiki_geocode_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103 entries, 0 to 102
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PostalCode    103 non-null    object
 1   Borough       103 non-null    object
 2   Neighborhood  103 non-null    object
 3   Latitude      103 non-null    float64
 4   Longitude     103 non-null    float64
dtypes: float64(2), object(3)
memory usage: 4.8+ KB

In [41]:
totonto_data = wiki_geocode_df[wiki_geocode_df['Borough'].str.contains('Toronto', regex=False, case=False, na=False)]

In [44]:
totonto_data = totonto_data.reset_index(drop=True)
totonto_data.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M4E,East Toronto,The Beaches,43.676357,-79.293031
1,M4K,East Toronto,"The Danforth West, Riverdale",43.679557,-79.352188
2,M4L,East Toronto,"India Bazaar, The Beaches West",43.668999,-79.315572
3,M4M,East Toronto,Studio District,43.659526,-79.340923
4,M4N,Central Toronto,Lawrence Park,43.728020,-79.388790